.hero-banner {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-top: 110px;
  z-index: 10; 
}

.banner-image {
  width: 100vw;
  height: auto;
  max-height: 100vh;
  object-fit: cover;
  display: block;
  background-color: #000; 
}

.banner-divider {
  width: 100%;
  height: 8px; 
  background: linear-gradient(
    to right,
    #a77a44 0%,
    #e0c08a 25%,
    #f1ddb6 50%,
    #e0c08a 75%,
    #a77a44 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}


/* Mobile */
@media (max-width: 1024px) {
  .hero-banner {
    padding-top: 80px; 
    margin-top: 0;     
  }

  .hero-banner img,
  .banner-image {
    content: url("../assets/images/banner2.png");
    width: 100vw;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
    display: block;
  }
}
